@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100vh; /* Ensures body takes full viewport height */
    background-image: url("{{ url('img/background.jpg') }}");
    background-size: cover; /* Ensures background covers the full body */
    background-position: center; /* Centers background image */
}


.container {
    display: flex;
    width: 1000px;
    height: 500px;
    align-items: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.left-panel {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.left-panel img {
    align-self: center;
    width: 500px;
    height: auto;
}


.signup-btn {
    background: white;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.signup-btn:hover {
    background: #44b3f3;
}

.right-panel {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    margin-bottom: 15px;
    color: #000000;
}

.title{
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: #000000;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: x-small;
}


.signin-btn {
    background: #1a9dda;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

.scanbtn {
    background: #18a318;
    color: white;
    width: 275px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 85px;
    margin: auto;
    
    margin-top: 15px;
}


.forgot-password {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #000000;
    text-decoration: none;
    font-size: small;
}

.forgot-password:hover {
    text-decoration: underline;
}
